p{
color:red;
font-family: 'Lobster', cursive;
border: 3px solid black;
}
h1{
color:blue;
font-family: 'Lobster', cursive;

border: 3px solid black;
}
html {
  background-color: #645559g;
}